<mat-sidenav-container class="all-wrap"  fullscreen >
  <mat-sidenav #sidenav class="side-nav-container">
    <mat-list>
      <mat-list-item [routerLink]="['/login']"> Foo</mat-list-item>
      <mat-list-item [routerLink]="['/bar']"> Bar</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner"  class="mat-elevation-z8">
      <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="sidenav.open()"
          title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        Your Toolbar
      </mat-toolbar>
    </header>
    <main class="content ">
      <router-outlet></router-outlet>
    </main>
  </div>


</mat-sidenav-container>